<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Mysite0</title>

        <link rel="stylesheet" href="../../assets/css/common.css">
        <link rel="stylesheet" href="../../assets/css/main.css"
    </head>

    <body>
        <div id="wrap">

            <!-- %%%%%%%%%%%%%%%%%%%%%%%%헤더영역%%%%%%%%%%%%%%%%%% -->
            <div id="header" class="clearfix"> 
                <!-- 사이트로고 -->
                <h1><a href="../main/main.html">mysite</a></h1>

                <ul class="clearfix"> <!--clearfix 언젠가 안맞을수잇어서 맞춰줌 -->
                    <li><a href="">로그인</a></li>
                    <li><a href="../board/joinus.html">회원가입</a></li>
                </ul>
            </div>
            <!-- %%%%%%%%%%%%%%%%%%%%%%%헤더영역&&&&&&&&&&&&&&&&&&& -->


            <!-- &&&&&&&&&&&&네비게이션G.N.B(상단메뉴)&&&&&&&&&&&&&& -->
            <div id="nav">
            <ul class="clearfix">
                <li><a href="../../views/board/info01.html">입사지원서</a></li>
                <li><a href="../../views/board/list.html">게시판</a></li>
                <li>갤러리</li>
                <li class="last">방명록</li>
                </ul>
            </div>
            <!-- &&&&&&&&&&&&네비게이션G.N.B(상단메뉴)&&&&&&&&&&&&&& -->
            
            <!--@@@@@@@@@@@@@@@@@@@@@ 컨텐츠@@@@@@@@@@@@@@@@@@@ -->
            <div id="full-content" class="clearfix">
                <img id="profile-img" src="../../assets/img/jung.jpg">

                <div id="greetings">
                    <p id="greet">Hello!! <br>
                        Welcome to Danny's Site
                    </p>

                    <p id="desc">
                        이 사이트는 웹개발과정 초보자 대니의 실습과제 예제사이트입니다.<br>
                        메뉴는 사이트 소개,방명록, 게시판이 있습니다<br>
                        자바 수업+데이터베이스 수업+웹프로그래밍 수업<br>
                        
                        <br>
                        (자유롭게꾸며보세요)<br>
                        <br>
                        <a href="">[방명록에 글남기기]</a>
                        
                    </p>
                </div>    
            </div>
            <!-- @@@@@@@@@@@@@@@@@@@@@컨텐츠@@@@@@@@@@@@@@@@@@@@@@@@@ -->

            <!-- ##################푸터 footer################# -->
            <div id="footer">
                <p>Copyright ©2021 DannyJ. All right reserved</p>
            </div>
            <!-- ##################푸터 footer################# -->
        </div>
    </body>

</html>